//color
$black: #000;
$white: #fff;
$green: #4ebc52;
$blue: #34bfd1;
$orange: #ff6834;
$gray: #f1f2f6;

//font-family
$primary-font: arial, sans-serif;

//font-size
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-17: 1.7rem;
$font-38: 3.8rem;
