* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 1300px;

  @media screen and (max-width: 767px) {
    min-width: 100%;
  }
}

main {
  flex-grow: 1;
}

header,
footer {
  flex-shrink: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}
